.sidebar-main-container{
   display: flex;
   flex-direction: column;
   justify-content: center;
}
.side-container{
   width: 15.2rem;
   transition: all 0.5s ease;
   display: flex;
   height: 92vh;
   flex-direction: column;
   justify-content: space-between;
   border-radius: 3px;
}
.side-less-container{
   width: 4.4rem;
   height: 92vh;
   transition: all 0.5s ease;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}
.sidebar-ul{
   display: flex;
   flex-direction: column;
   gap: 10px;
   justify-content: center;
   margin: 0;
   padding: 0;
}
.sidebar-ul li{
    list-style: none;
    color: white;
    padding: 10px;
    cursor: pointer;
    text-align: center;
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 14px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.sidebar-svg{
   flex: 1;
}
.sidebar-svg img{
    border: 1px solid white;
    padding: 2px;
    border-radius: 4px;
}
.sidebar-name{
    flex: 2;
    display: flex;
    justify-content: flex-start;
}
.lightGray{
    background-color: #4e4d4d;
}
.link{
    text-decoration: none;
}
.target{
    border: 1px solid white;
    border-radius: 4px;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 16px;
    margin: 0 7px;
}
.target-name{
    flex: 4;
}
.nav-logo{
   width: 40px;
   height: 40px;
   background-color: rgb(246, 245, 245);
   border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
 .d-none{
   display: none;
 }
 .icon-name{
   display: none;
 }
 .side-less-container ul li:hover .icon-name{
   display: block;
   position: absolute;
   left: 5.0rem;
   background-color: white;
   color: var(--background-color);
   color: black;
   border-radius: 0.4rem;
   padding: 0.5rem 0.9rem;
   font-size: 14px;
   box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
   top: 50%;
   transform: translateY(-50%);
   transition: all 0.5s ease;
   opacity: 1;
   z-index: 3;
}
.logout{
   display: flex;
   align-items: center;
   position: relative;
 }
 .logout-high{
   display: flex;
   align-items: center;
 }
 .logout:hover .icon-name{
   display: block;
   position: absolute;
   left: 5.0rem;
   background-color: white;
   color: var(--background-color);
   color: black;
   border-radius: 0.4rem;
   padding: 0.5rem 0.9rem;
   font-size: 15px;
   font-weight: 500;
   box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
   top: 50%;
   transform: translateY(-50%);
   transition: all 0.5s ease;
   opacity: 1;
   z-index: 3;
}
 