.sidebar-main-container{
   display: flex;
   flex-direction: column;
   justify-content: center;
}
.side-container{
   width: 15.2rem;
   transition: all 0.5s ease;
   display: flex;
   height: 85vh;
   flex-direction: column;
   justify-content: space-between;
   border-radius: 7px;
}
.side-less-container{
   width: 4.4rem;
   height: 85vh;
   transition: all 0.5s ease;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}
.sidebar-ul{
   display: flex;
   flex-direction: column;
   gap: 10px;
   justify-content: center;
   margin: 0;
   padding: 0;
}
.sidebar-ul li{
    list-style: none;
    color: white;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 14px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* transform: translateX(10rem); */
}
.sidebar-svg{
    flex: 1;
}
.sidebar-svg img{
    border: 1px solid white;
    padding: 2px;
    border-radius: 4px;
}
.sidebar-name{
    flex: 2;
    display: flex;
    justify-content: flex-start;
}
.lightGray{
    background-color: rgb(198, 145, 251);
}
.link{
    text-decoration: none;
}
.target{
    border: 1px solid white;
    /* padding: 2px; */
    border-radius: 4px;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 16px;
    margin: 0 7px;
}
.target-name{
    flex: 4;
}
.nav-logo{
   width: 40px;
   height: 40px;
   background-color: purple;
   border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
 .d-none{
    display: none;
 }
 .side-less-container ul li:hover{
    padding: 5px 0;
}
.side-less-container ul li:hover .sidebar-svg{
    position: fixed;
}
.side-less-container ul li:hover .d-none{
    display: block;
    float: left;
    z-index: 2;
    width: fit-content;
    transform: translateX(4.6rem);
    color: white;
    background-color: blue;
    border-radius: 0 10px 10px 10px;
    padding: 12px;
    
 }
 .side-less-container ul li:hover .target{
    margin: 5px 0;
 }
 .navigation{
    border-bottom: 2px solid white;
    width: 14px;
    padding: 2px;
 }
 .target span:nth-child(3){
    margin-bottom:3px;
 }
 .side-less-container ul li:hover .nav-logo{
    margin: 6px 0;
 }
 .logout{
   display: flex;
   align-items: center;
 }
 .logout-high{
   display: flex;
   align-items: center;
 }
 .logout:hover .d-none{
   display: block;
   float: left;
   z-index: 2;
   width: fit-content;
   transform: translateX(4.4rem);
   color: white;
   background-color: blue;
   border-radius: 0 10px 10px 10px;
   padding: 12px;
}
.logout:hover .sidebar-svg{
   position: fixed;
   padding: 1px;
   margin: 0 20px 16px 20px;
}
.logout:hover{
   width: fit-content;
}

