.main-login-container{
    display: flex;
    border-radius: 8px;
}
.login-right{
    flex: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 97vh;
    justify-content: center;
}
.login-container{
    width: 28vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 12px 8px rgba(222,198,247,1);
    -moz-box-shadow: 0px 0px 12px 8px rgba(222,198,247,1);
    box-shadow: 0px 0px 12px 8px rgba(222,198,247,1);
}
.login-title{
    font-size: 16px;
    color:  #333333; 
    margin: 12px 0;
    font-family: 'Roboto';
    font-weight: bold;
}
.login-input{
    width: 300px;
    height: 30px;
    margin:8px 30px 0 30px;
    border: none;
    border-bottom:1px solid #333333;
    outline: none;
    font-family: 'Roboto';
}
.button-container{
    display: flex;
}
.login-button{
    margin-bottom: 25px;
    background-color:  #333333;
    color: white;
    border: none;
    padding: 10px;
    width: 150px;
    border-radius: 17px;
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: bold;
}
.forget-button{
    width: 150px;
    border-radius: 17px;
    background-color: transparent;
    color: #333333;
    border: 1px solid #333333;
    height: 37px;
    margin: 0 10px;
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: bold;
}
.link-register{
    margin-bottom: 15px;
    font-family: 'Roboto';
    font-size: 14px;
}
.reload{
    cursor: progress;
}
.pointer{
    cursor: pointer;
}