.measurement-main-container{
    width: 100vw;
    height: 100vh;
    display: flex;
    border-radius: 5px;
}
.measurement-left{
    background-color: #333333;
    height: 100vh;
    border-radius: 3px;
}
.measurement-right{
    position: relative;
    background-color: rgb(238, 237, 237);
    padding:7px;
    width: 100%;
    display: flex;
    gap:7px;
    flex-direction: column;
}
.measurement-top{
    background-color: #fdfdfd;
    padding: 7px;
}
.measurement-path{
    font-family: 'Inter';
    font-size: 15px;
    margin: 0 8px;
}
.measurement-path span{
    color: #333333;
}
.measurement-title{
    margin:0;
    font-family: 'Inter';
    font-size: 15px;
    margin: 5px 8px;
}
.measurement-middle{
    background-color: #fdfdfd;
    padding: 7px;
}
.types-con{
    display: flex;
    align-items: center;
    width: 99%;
    margin: 7px;
    border-radius: 4px;
}
.type{
    text-align: center;
    flex:1;
    border: 1px solid #2e4a93;
    font-family: 'Inter';
    font-size: 15px;
    font-weight: 400;
    padding: 7px;
    color: #2e4a93;
}
.type:nth-child(1){
    border-radius: 4px 0 0 4px;
    background-color: #2e4a93;
    color: #fdfdfd;
}
.type:nth-child(3){
    border-radius: 0 4px 4px 0;
}
.measurement-footer{
    background-color: #fdfdfd;
    padding: 7px;
    display:flex;
    flex-direction:column;
    height:100%
}