.nav-container{
    width: 90vw;
    height: 60px;
    margin: auto;
    background-color: rgb(172, 97, 247);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-left{
    display: flex;
    align-items: center;
    height: 100%;
}
.nav-logo{
    color: white;
    margin: 0 5px;
    background-color: purple;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-logo span{
    padding: 10px;
}
.nav-title{
    color: white;
}
.nav-right{
    margin-right:20px;
    padding: 10px;
    border: 1px solid white;
}
.nav-right span{
    color: white;
}
.nav-right span:nth-child(2n+1):hover{
    border-bottom:1px solid white;
    cursor: pointer;
}