.clientTableContainer{
    width: 100%;
    overflow-y: auto;
    height: 560px;
}

.clientTable{
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
}
.clientTr:nth-child(1){
    position: sticky;
    top:0;
    color: white;
    background-color: #fdfdfd;
}
.tr{
    border-bottom:1px solid #2e4a93;
}
.clientTh{
    padding: 10px 0px;
    font-size: 15px;   
    font-weight: 400;
    color: #2e4a93;
    box-shadow: inset 0 -1px 0 #2e4a93;
    text-align: start;
}
.clientTh:nth-child(1){
    border-radius: 5px 0 0 0px;
}
.clientTh:nth-child(12){
    border-radius: 0 5px 0 0;
}
.clientButton{
    width: 35px;
    height: 35px;
    background-color: #2e4a93;
    border: none;
    margin: 0 2px;
    cursor: pointer;
}
.clientButton svg{
    color: #fdfdfd;
    font-size: 18px;
}
.clientTd{
    color: black;
    overflow-wrap: break-word;
    text-align: start;
    height: 50px;
    font-size: 13px;
    font-weight: 400;
}
.clientAddButton{
    background-color: #2e4a93;
    border: none;
    height: 40px;
    width: 130px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0px;
    border-radius: 5px;
    color: white;
    font-size: 15px;
    font-weight: 400;
    cursor: pointer;
}
.clientTd span{
    background-color: white;
    border-radius: 3px;
    height: 30px;
    overflow-y: scroll;
}
.clientTd span::-webkit-scrollbar{
    display: none;
}
