.client-table-con{
    width: 100%;
    border-radius: 5px;
    height: 590px;
    background-color: rgb(241 241 241);
    overflow-y: scroll;
}
.client-table-con::-webkit-scrollbar{
    display: none;
}
.client-table{
    table-layout: fixed;
    width: 100%;
}
.client-tr:nth-child(1){
    position: sticky;
    top:0;
    background-color: #333333;
    color: white;
}
.client-th{
    padding: 10px 0px;
    font-size: 14px;   
    font-family: 'Roboto';
}
.client-th:nth-child(1){
    border-radius: 5px 0 0 0px;
}
.client-th:nth-child(12){
    border-radius: 0 5px 0 0;
}
.client-svg{
    width: 20px;
    height: 20px;
    margin: 0 4px;
}
.client-td{
    color: black;
    padding: 4px 2px;
    overflow-wrap: break-word;
    text-align: center;
    height: 0;
    font-size: 13px;
    font-family: 'Roboto';
}
.client-svg:hover{
    cursor: pointer;
}
.client-add-button{
    background-color: #5b69e9;
    border: none;
    padding: 10px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0px;
    border-radius: 5px;
    color: white;
    font-weight: 600;
    font-family: 'Roboto';
}
.client-add-button:hover{
    cursor: pointer;
}
.client-td span{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 10px;
    height: 100%;
    border-radius: 3px;
    height: 30px;
    overflow-y: scroll;
}
.client-td span::-webkit-scrollbar{
    display: none;
}
.client-yes{
    width: 30px;
    height: 30px;
    background-color: #333333;
    border: none;
    cursor: pointer;
    margin: 0 4px;
}
.client-no{
    width: 30px;
    height: 30px;
    background-color: white;
    border: none;
    cursor: pointer;
    margin: 0 4px;
}