.changePasswordContainer{
    display: flex;
    padding: 10px 0;
    gap: 30px;
    width: 100%;
    flex-direction: column;
}
.changePasswordTitle{
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 1px;
}
.changePasswordForm{
    display: flex;
    flex-direction: column;
    gap:20px;
}
.changePasswordWrapper{
    display: flex;
    flex-direction: column;
    width: 60%;
    gap: 8px;
}
.changePasswordWrapper label{
    font-size: 15px;
}
.changePasswordWrapper input{
    height: 40px;
    border: 1px solid #2e4a93;
    border-radius: 5px;
}
.required{
    color: red;
}
.changePasswordForm button{
    width: 20%;
    height: 40px;
    font-size: 15px;
    border-radius: 5px;
    border: none;
    background-color: #2e4a93;
    color: #fdfdfd;
    cursor: pointer;
}