@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@500&display=swap');
.billcard-container{
    display: flex;
    flex-direction: column;
    background-color: #eeeeee;
    -webkit-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
    border-radius: 7px;
    width: 275px;
    height: 305px;
    align-items: center;
}
.wrapper-card{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.card-top{
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.card-title-batch{
    width: 100%;
    display: flex;
    gap: 8px;
    align-items: center;
}
.card-title-batch h3{
    margin: 0;
    font-size: 18px;
    font-weight: 900;
    font-family: 'Fira Sans';
}
.batch{
    background-color: #ffe0df;
    color: #9f5f60;
    font-size: 11px;
    font-weight: 900;
    font-family: 'Roboto';
    padding: 3px 7px;
    border-radius: 5px;
}
.card-top .desc{
    font-family: 'Roboto';
    font-size: 12px;
    font-weight: 600;
}
.card-date{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 3px;
}
.card-label{
    font-family: 'Roboto';
    font-size: 12px;
    font-weight: 500;
}
.card-value{
    font-family: 'Roboto';
    font-size: 12px;
    font-weight: 600;
}
.reports{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
}
.pdf-type{
    display: flex;
    gap: 7px;
}
.pdf-type img{
    width: 30px;
}
.measurement-button{
    width: 73%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.measurement-button button{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
    background-color: #2e4a93;
    color: white;
    font-family:'Roboto';
    font-weight: 600;
    font-size: 12px;
    padding: 8px;
    border: none;
    cursor: pointer;
}
.measurement-button button:disabled{
    cursor: not-allowed;
    background-color: #758cc7;
}
.measurement-button img{
    width: 13px;
}
.edit-wrapper{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top:10px;
}
.edit-button{
    top: 3%;
    right: 3%;
    background-color: #d7d7d7;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.edit-button img{
    width: 14px;
}
.submit{
    background-color: #d1f0d7;
    color: #6b9976;
}
.accept{
    background-color: #fefbe2;
    color: #b5b180;
}