.bill-main-container{
    width: 100vw;
    height: 100vh;
    display: flex;
    border-radius: 8px;
}
.bill-left{
    background-color: #333333;
    height: 100vh;
    border-radius: 3px;
}
.bill-right{
    position: relative;
    background-color: rgb(238, 237, 237);
    padding:7px;
    display: flex;
    flex-direction: column;
    gap:7px;
}
.bill-top{
    width: 100%;
    background-color: white;
}
.bill-path{
    font-size: 14px;
    font-family: 'Roboto';
    margin: 10px;
}
.bill-path span{
    color: #333333;
}
.bill-middle{
    width: 100%;
    background-color: white;
}
.summary-title{
    font-family: 'Roboto';
    font-size: 16px;
    margin: 10px;
}
.summary-container{
    display: flex;
    justify-content: space-between;
    margin:10px 20px;
}
.summary-box{
    width: 200px;
    height: 130px;
    border-radius: 5px;
    background-color: rgb(247 247 247);
}
.bill-footer{
    background-color: white;
}
.bill-table-title{
    font-family: 'Roboto';
    font-size: 18px;
}
.bill-con{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 15px;
}
.add-bill{
    background-color: #5b69e9;
    border: none;
    font-weight: 600;
    padding: 10px 20px;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    color: white;
    font-family: 'Roboto';
}
.add-bill:hover{
    cursor: pointer;
}
.bill-link{
   text-decoration: none;
   color: gray;
}