.bill-main-container{
    width: 100vw;
    height: 100vh;
    display: flex;
    border-radius: 8px;
}
.bill-left{
    background-color: #333333;
    height: 100vh;
    border-radius: 3px;
}
.bill-right{
    position: relative;
    background-color: rgb(238, 237, 237);
    padding:7px;
    display: flex;
    flex-direction: column;
    gap:7px;
    width: 95%;
    height: 98%;
}
.bill-top{
    width: 100%;
    background-color: white;
}
.bill-path{
    font-size: 14px;
    font-family: 'Roboto';
    margin: 10px;
}
.bill-path span{
    color: #333333;
}
.bill-middle{
    width: 100%;
    height: 94%;
    background-color: white;
}
.bill-link{
    text-decoration: none;
    color: gray;
 }
.bill-wrapper{
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: 0 12px;
}
.add-card{
    border: 2px dotted #333333;
    font-size: 75px;
    width: 273px;
    height: 305px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 7px;
    cursor: pointer;
}
.bill-card-title{
    font-size: 18px;
    font-weight: 900;
    font-family: 'Roboto';
    margin: 12px;   
}