.bill-main-container{
    width: 98vw;
    height: 97vh;
    margin: auto;
    display: flex;
    margin-top: 10px;
    gap: 10px;
    /* -webkit-box-shadow: 1px 1px 5px 0px rgba(172,97,247,1);
    -moz-box-shadow: 1px 1px 5px 0px rgba(172,97,247,1);
    box-shadow: 1px 1px 5px 0px rgba(172,97,247,1); */
    border-radius: 8px;
}
.bill-left{
    background-color: rgb(172, 97, 247);
    height: 97vh;
    border-radius: 9px;
}
.bill-right{
    position: relative;
}
.bill-path{
    margin: 15px 0px 0px 15px;
    font-family: 'Roboto', sans-serif;
}
.bill-path span{
    color: rgb(172, 97, 247);
}
.bill-summary{
    margin: 10px 15px;
}
.summary-title{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}
.summary-container{
    display: flex;
    justify-content: space-between;
}
.summary-box{
    width: 200px;
    height: 130px;
    border-radius: 10px;
    background-color: rgb(214, 214, 214);
}
.bill-table{
    margin: 20px 15px;
}
.bill-table-title{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}
.bill-con{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.add-bill{
    background-color: rgb(5, 187, 5);
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 10px;
    border-radius: 7px;
    color: white;
    font-family: 'Roboto', sans-serif;
}
.add-bill:hover{
    cursor: pointer;
}
.bill-link{
   text-decoration: none;
   color: gray;
}