.home-container{
    width: 100vw;
    height: 100vh;
    display: flex;
    border-radius: 8px;
}
.home-left{
    background-color: #333333;
    height: 100vh;
    border-radius: 3px;
}
.home-right{
    width: 100%;
}