.home-container{
    width: 98vw;
    margin: auto;
    display: flex;
    margin-top: 10px;
    gap: 10px;
}
.home-left{
    background-color: rgb(172, 97, 247);
    height: 95vh;
    border-radius: 9px;
}
.home-right{
}