.bill-table-container{
    margin: 15px 0 0 15px;
    width: 100%; 
    height:410px;
    background-color: rgb(227, 226, 226);
    overflow-y: scroll;
    border-radius: 18px;
}
.bill-table-container::-webkit-scrollbar{
    display: none;
  }
  .bill-table-container table{
    border-radius: 15px;
    width: 100%;
    table-layout: fixed;
  }
  .bill-tr{
    height: fit-content;
    border-bottom: 1px solid;
  }
  .bill-tr:nth-child(1){
    width: 100%;
    height: fit-content;
    background-color:#333333;
    color: white;
  }
  .bill-th{
    padding: 10px;
    font-size: 13px;
    font-family: 'Roboto';
  }
  .bill-td{
    text-align: center;
    padding: 7px 10px;
    overflow-wrap: break-word;
    font-family: 'Roboto';
    font-size: 14px;
  }
  .bill-td span{
    display: block;
    background-color: white;
    padding: 4px 10px;
    border-radius: 5px;
    height: 30px;
    overflow-y: scroll;
  }
  .bill-td span::-webkit-scrollbar{
    display: none;
  }
  .disabled{
    cursor: not-allowed;
    background-color: rgb(69, 121, 69);
  }