.bill-table-container{
    margin:0 10px 10px;
    width: 98.5%; 
    height:440px;
    background-color: rgb(241 241 241);
    overflow-y: scroll;
    border-radius: 10px;
}
.bill-table-container::-webkit-scrollbar{
    display: none;
  }
  .bill-table-container table{
    border-radius: 15px;
    width: 100%;
    table-layout: fixed;
  }
  .bill-tr{
    height: fit-content;
    border-bottom: 1px solid;
  }
  .bill-tr:nth-child(1){
    width: 100%;
    height: fit-content;
    background-color:#333333;
    color: white;
  }
  .bill-th{
    padding: 10px;
    font-size: 13px;
    font-family: 'Roboto';
  }
  .bill-td{
    text-align: center;
    padding: 6px 1px;
    overflow-wrap: break-word;
    font-family: 'Roboto';
    font-size: 14px;
    height: 0;
  }
  .bill-td span{
    display: block;
    background-color: white;
    padding: 10px 10px;
    border-radius: 2px;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-y: scroll;
  }
  .bill-td span::-webkit-scrollbar{
    display: none;
  }
  .disabled{
    cursor: not-allowed;
    background-color: #71cea5;
  }
  .status{
    width: 100px;
    height: 24px;
    font-weight: 600;
  }
  .yellow{
    color: #fa7773;
  }
  .Green{
    color: #077d4a;
  }
  .bill-yes{
    background-color: #333333;
    border: none;
    width: 30px;
    height: 30px;
    margin: 0 4px;
    cursor: pointer;
  }
  .bill-no{
    background-color: white;
    border: none;
    width: 30px;
    height: 30px;
    margin: 0 4px;
    cursor: pointer;
  }