.clientPopupContainer{
    background-color: #fdfdfd;
    box-shadow: 0px 4px 10px #00000040;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    border-radius: 15px;
}
.clientPopupContainer h3{
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-weight: 600;
    color: #2e4a93;
    text-align: center;
}
.formContainer{
    display: grid;
    grid-template-columns: 48% 48%;
    gap: 15px;
}
.clientInputWrapper{
    display: flex;
    flex-direction: column;
    gap: 5px;
    position: relative;
}
.clientInputWrapper label{
    font-size: 15px;
    font-weight: 400;
}
.clientInputWrapper input{
    height: 40px;
    border-radius: 5px;
    border: 1px solid #2e4a93;
}
.clientInputWrapper input:-webkit-autofill,
.clientInputWrapper input:-webkit-autofill:hover, 
.clientInputWrapper input:-webkit-autofill:focus, 
.clientInputWrapper input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}
.clientInputWrapper select{
    height: 43px;
    border-radius: 5px;
    border: 1px solid #2e4a93;
}
.clientPopupButton{
    font-size: 15px;
    background-color: #2e4a93;
    color: #fdfdfd;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}
.clientPopupClose{
    font-size: 18px;
    position: absolute;
    top: 7px;
    right: 7px;
    color: gray;
}