.client-pop-container{
    background-color: white; 
    width: 40vw;
    border-radius: 10px;
    position: relative;
    border: 1px solid rgb(223, 221, 221);
    box-shadow: 0px 4px 10px #00000040;
}
.client-pop-title{
    width: 100%;
    color: #2e4a93;
    padding-top: 15px;
    font-weight: 600;
    font-family: 'Inter';
    font-size: 18px;
    text-align: center;
}
.client-container{
    width: 45%;
    margin: 12px 0;
}
.flex-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
} 
.client-container input{
    width: 90%;
    height: 30px;
    padding: 10px;
    border: 1px solid #2e4a93;
    border-radius: 5px;
    font-family: 'Inter';
    outline-color: #333333;
}
.client-select{
    width: 97%;
    height: 52px;
    padding: 10px;
    border: 1px solid #2e4a93;
    background-color: white;
    border-radius: 5px;
    font-family: 'Inter';
    outline-color: #333333;
}

.client-btn{
    width: 90%;
    background-color:#2e4a93;
    color: white;
    border: none;
    padding: 10px 0;
    display: block; 
    margin: 15px auto 25px auto; 
    text-align: center; 
    font-family: 'Inter';
    font-family: 'Inter';
    font-weight: 600;
    font-size: 15px;
    border-radius: 5px;
}
.client-close{
    position: absolute;
    width: 20px;
    height: 20px;
    top: 7px;
    right: 7px;
}
.client-close,.client-btn:hover{
    cursor: pointer;
}
