.pop-container{
    background-color: rgb(220, 217, 217); 
    width: 40vw;
    border-radius: 7px;
    position: relative;
}
.pro-select{
    border: none;
    width: 97%;
    height: 30px;
    border-radius: 7px;
}
.project-lable{
    font-size: 13px;
    font-family: 'Roboto';
}
.add-title{
    padding: 15px 10px 0 10px;
    font-size: 16px;
    font-family: 'Roboto';
}
.name-container,.no-container,.loi-container,.validity-container{
    margin: 10px 15px;
}
.Add-input{
    width: 97%;
    height: 27px;
    border-radius: 5px;
    border: none;
    font-family: 'Roboto';
}
.Add-Project{
    background-color: green;
    color: white;
    border: none;
    font-size: 15px;
    padding: 7px 10px;
    margin: 18px 25px 25px 25px;
    font-family: 'Roboto';
}
.Add-Project:hover{
    cursor: pointer;
    background-color: rgb(1, 106, 1);
}
.close{
    position: absolute;
    width: 20px;
    height: 20px;
    top: 7px;
    right: 7px;
}
.close:hover{
    cursor: pointer;
}
.date-and-time{
    margin: 10px 15px;
    display: flex;
    gap: 20px;
    align-items: center;
}
.dt-input{
    width: 282px;
    border: none;
    height: 27px;
    border-radius: 5px;
}