.measure-table-container{
    margin: 15px 0 0 15px;
    width: 98%; 
    height:560px;
    background-color: rgb(224, 224, 224);
    overflow-y: scroll;
    border-radius: 18px;
}
.measure-table-container::-webkit-scrollbar{
    display: none;
  }
  .measure-table-container table{
    border-radius: 15px;
    width: 100%;
    table-layout: fixed;
  }
  .measure-tr{
    height: fit-content;
    border-bottom: 1px solid;
  }
  .measure-tr:nth-child(1){
    width: 100%;
    height: fit-content;
    background-color:rgb(172, 97, 247);
    color: white;
    position: sticky;
    top: 0;
  }
  .measure-th{
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
  }
  .measure-th:nth-child(2){
    width: 270px;
  }
  .measure-th:nth-child(8){
    width: 200px;
  }
  .measure-th:nth-child(9){
    width: 110px;
  }
  .measure-td{
    text-align: center;
    padding: 14px 10px;
    width: fit-content;
    max-height:100px;
    overflow-wrap: wrap;
    /* font-size: 13px;
    font-family: 'Roboto', sans-serif; */
    height: fit-content;
  }
  .measure-td:nth-child(8) span{
    width: 200px;
  }
  .measure-td:nth-child(9) span{
    width: 105px;
  }
  .measure-td span{
    display: flex;
    align-items: center;
    justify-content: center;
    margin:3px 0;
    height: 40px;
    flex-wrap: wrap;
    overflow-y: hidden;
    background-color: white;
    padding: 5px 2px;
    border-radius: 5px;
    overflow-wrap:break-word;
  }
  .measure-td:nth-child(2) span{
    width: 270px;
    justify-content: flex-start;
  }
  .measure-td span::-webkit-scrollbar{
    display: none;
  }
  .measure-input{
    display: flex;
    flex-wrap: wrap;
    border: 1px solid rgb(172, 97, 247);
    height: 40px;
    width: 95%;
    margin:3px 0;
    padding: 7px;
    border-radius: 7px;
    outline: none;
  } 
  .measure-td:nth-child(2) .measure-input{
    width: 260px;
  } 
.dropdown-con{
  background-color: white;
  width: 100%;
  background-color: rgb(242, 240, 240);
  position: absolute;
  border: 1px solid rgb(172, 97, 247);
  left: -1px;
  border-top: none;
}
.dropdown{
  padding: 7px 15px;
}
.dropdown-input{
  padding: 7px 0;
  border: none;
  outline: none;
}
.dropdown:hover{
  cursor: pointer;
  background-color: rgb(196, 195, 195);
}
li{
  list-style: none;
}
.measure-ul{
  display: flex;
  margin: 5px 0;
  padding: 0;
  justify-content: center;
  align-items: center;
}
.special{
  height: fit-content;
}
.measure-img-btn{
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
}
.measure-img-btn:disabled img{
  cursor: not-allowed;
}
.desc-input{
  background-color: white;
  border: 1px solid rgb(172, 97, 247);
  min-height: 48px;
  width: 100%;
  padding: 0 8px;
  border-radius: 6px;
  outline: none;
}
.measure-li{
  width: 100%;
  padding:5px 0;
}
.measure-li:hover{
  background-color: rgb(192, 192, 192);
}
