.measure-filter{
  display: flex;
  gap: 10px;
  margin: 10px;
  align-items: center;
}
.clear{
  font-family: 'Inter';
  font-size: 15px;
  font-weight: 400;
  /* color: #2e4a93; */
  cursor: pointer;
}
.measure-container{
  height: 100%;
  width: 100%;
}
.measure-table{
  width: 100%;
  flex-grow:1;
  height:0;
  overflow-y:scroll;
}
.measure-table table{
  border-collapse: collapse;
  width: 100%;
}
.measure-tr{
  border-bottom:1px solid #2e4a93;
}
.measure-tr:nth-child(1){
  height: 40px;
  background-color: #fdfdfd;
  position: sticky;
  top: 0;
  z-index: 998;
}
.measure-th{
  font-size: 15px;   
  font-family: 'Inter';
  padding: 10px 0;
  position: -webkit-sticky;
  position: sticky;
  color: #2e4a93;
  font-weight: 400;
  top: 0;
  box-shadow: inset 0 -1px 0 #2e4a93;
}
.measure-td{
  font-size: 13px;   
  font-family: 'Inter';
  padding: 15px 0px;
}
.measure-btn{
  padding: 7px;
  background-color: #2e4a93;
  border: none;
  margin: 0 2px;
  border-radius: 1px;
  cursor: pointer;
}
.measure-btn img{
  width: 18px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
}
.shadow{
  -webkit-box-shadow: 0px 1px 3px 0px rgba(51,51,51,1);
  -moz-box-shadow: 0px 1px 3px 0px rgba(51,51,51,1);
  box-shadow: 0px 1px 3px 0px rgba(51,51,51,1);
  padding: 10px;
}
.measure-input[type=number]::-webkit-inner-spin-button, 
.measure-input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0; 
}
.measure-input{
  border: none;
  -webkit-box-shadow: 0px 1px 3px 0px rgba(51,51,51,1);
  -moz-box-shadow: 0px 1px 3px 0px rgba(51,51,51,1);
  box-shadow: 0px 1px 3px 0px rgba(51,51,51,1);
}
.measure-input:disabled{
  border:2px solid white;
  background-color: transparent;
  cursor: not-allowed;
}
.measure-wrapper{
  -webkit-box-shadow: 0px 1px 3px 0px rgba(51,51,51,1);
  -moz-box-shadow: 0px 1px 3px 0px rgba(51,51,51,1);
  box-shadow: 0px 1px 3px 0px rgba(51,51,51,1);
  display: flex;
  align-items: center;
  width: 90%;
  border: 1px solid white;
  border-radius: 4px;
}
.measure-select{
  -webkit-box-shadow: 0px 1px 3px 0px rgba(51,51,51,1);
  -moz-box-shadow: 0px 1px 3px 0px rgba(51,51,51,1);
  box-shadow: 0px 1px 3px 0px rgba(51,51,51,1);
  border-radius: 4px;
}
.measure-tags{
  border: none;
  -webkit-box-shadow: 0px 1px 3px 0px rgba(51,51,51,1);
  -moz-box-shadow: 0px 1px 3px 0px rgba(51,51,51,1);
  box-shadow: 0px 1px 3px 0px rgba(51,51,51,1);
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  background-color: white;
  height: fit-content;
  width: 95%;
  padding: 6px 6px 0 6px;
  position: absolute;
  top: 10px;
  border-radius: 4px;
}
.measure-tags-update{
  border: none;
  -webkit-box-shadow: 0px 1px 3px 0px rgba(51,51,51,1);
  -moz-box-shadow: 0px 1px 3px 0px rgba(51,51,51,1);
  box-shadow: 0px 1px 3px 0px rgba(51,51,51,1);
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  background-color: white;
  height: fit-content;
  width: 95%;
  padding: 6px 6px 0 6px;
  position: absolute;
  border-radius: 4px;
  top: 30%;
}
.measure-tag{
  width: 100%;
  padding:0 0 5px 0;
  display: flex;
  flex-wrap: wrap;
}
.add-line{
  border-bottom: 1px solid;
}
 .inner-input{
  border: none;
  height: 19px;
  font-size: 13px;
  padding: 4px 10px;
  border: none;
  width: 60px;
  background-color: rgb(236, 234, 234);
  min-width: 15px;
}
.inner-input-used{
  height: 19px;
  font-size: 13px;
  padding: 4px 10px;
  border: none;
  flex: 1;
  outline: none;
  min-width: 30px;
}
.inner-input-used::placeholder{
  color: white;
}
.reusable-tag{
  margin: 6px 0;
  width: 100%;
}
.allTags{
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 3px;
  grid-column-gap: 3px;
  border: 2px dotted;
  padding: 4px;
  margin: 4px 0;
  max-height: 200px;
  overflow-y: scroll;
}
.tag-box{
  background-color:rgb(243, 242, 242);
  height: 25px;
  display: flex;
  align-items: center;
  padding: 0 2px;
}
.tag-chip{
  font-size: 13px;   
  font-family: 'Inter';
  padding: 4px;
  min-width: 35px;
  width: fit-content;
  text-align: center;
  font-weight: 600;
}
.tag-chip:nth-child(4n+1){
  background-color: #d5d2f6;
  color: #78759e;
}
.tag-chip:nth-child(4n+2){
  background-color: #ffd2d1;
  color: #9c7076;
}
.tag-chip:nth-child(4n+3){
  background-color:#dcfaeb;
  color: #769b8d;
}
.tag-chip:nth-child(4n+4){
  background-color:#ffecc8;
  color: #a68e66;
}
.tag-ul{
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 2px;
}
.tag-li{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px;
  min-width: 35px;
  font-size: 14px;
  width: fit-content;
  text-align: center;
  font-weight: 600;
  gap: 4px;
}
.tag-li:nth-child(4n+1){
  background-color: #d5d2f6;
}
.tag-li:nth-child(4n+2){
  background-color: #ffd2d1;
}
.tag-li:nth-child(4n+3){
  background-color:#dcfaeb;
}
.tag-li:nth-child(4n+4){
  background-color:#ffecc8;
}
.show-chip{
  font-size: 13px;   
  font-family: 'Inter';
  padding: 4px;
  width: fit-content;
  text-align: center;
  font-weight: 600;
  background-color: #d5d2f6;
  color: #78759e;
  border-radius: 2px;
}
.useable-tag{
  font-size: 13px;   
  font-family: 'Inter';
  padding: 4px;
  min-width: 35px;
  width: 85%;
  text-align: center;
  font-weight: 600;
  margin: 5px 0;
  cursor: pointer;
  height: fit-content;
}
.useable-tag:nth-child(4n+1){
  background-color: #d5d2f6;
}
.useable-tag:nth-child(4n+2){
  background-color: #ffd2d1;
}
.useable-tag:nth-child(4n+3){
  background-color:#dcfaeb;
}
.useable-tag:nth-child(4n+4){
  background-color:#ffecc8;
}
.warning{
  border: 1px solid red;
}
.measure-btn:disabled{
  cursor: not-allowed;
}
.true-btn,.false-btn {
  color: #fdfdfd;
  width: 20px;
  font-size: 17px;
}
