.measure-table-container{
    width: 99%; 
    height:540px;
    background-color: rgb(241 241 241);
    overflow-y: scroll;
    border-radius: 8px;
    margin: 0 7px;
}
.measure-table-container::-webkit-scrollbar{
    display: none;
  }
  .measure-table-container table{
    width: 100%;
    table-layout: fixed;
  }
  .measure-tr{
    height: fit-content;
    border-bottom: 1px solid;
  }
  .measure-tr:nth-child(1){
    width: 100%;
    height: fit-content;
    background-color:#333333;
    color: white;
    position: sticky;
    top: 0;
    z-index: 2;
  }
  .measure-th{
    padding: 10px;
    font-family: 'Roboto';
    font-size: 14px;
  }
  .measure-td{
    text-align: center;
    padding: 4px 2px;
    width: fit-content;
    overflow-wrap: wrap;
    height: 0px;
    font-size: 13px;
    font-family: 'Roboto';
    position: relative;
  }
  .measure-td span{
    display: flex;
    align-items: center;
    justify-content: center;
    margin:3px 0;
    height: 90%;
    flex-wrap: wrap;
    overflow-y: hidden;
    background-color: white;
    padding: 5px 2px;
    border-radius: 1px;
    overflow-wrap:break-word;

  }
  .measure-input{
    display: flex;
    flex-wrap: wrap;
    height: 40px;
    width: 95%;
    margin:3px 0;
    padding: 8px 3px;
    border-radius: 3px;
    outline: none;
  } 
.measure-td:nth-child(2) .measure-input{
  width: 210px;
} 
.dropdown-con{
  background-color: white;
  width: 100%;
  background-color: rgb(242, 240, 240);
  position: absolute;
  border: 1px solid #333333;
  left: -1px;
  border-top: none;
}
.dropdown-input{
  padding: 7px 0;
  border: none;
  outline: none;
}
.dropdown:hover{
  cursor: pointer;
  background-color: rgb(196, 195, 195);
}
li{
  list-style: none;
}
.measure-ul{
  display: flex;
  margin: 5px 0;
  padding: 0;
  justify-content: center;
  align-items: center;
}
.special{
  height: fit-content;
}
.measure-img-btn{
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
}
.measure-img-btn:disabled img{
  cursor: not-allowed;
}
.desc-input{
  background-color: white;
  min-height: 55px;
  width: 94%;
  padding: 0 3px;
  border-radius: 6px;
  outline: none;
}
.measure-li{
  width: 100%;
  padding:5px 0;
}
.measure-li:hover{
  background-color: rgb(192, 192, 192);
}
.measure-filter{
  display: flex;
  gap: 10px;
  margin: 10px;
  align-items: center;
}
.clear{
  font-family: 'Roboto';
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
}
.measure-dropdown{
  background-color: white;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(207,203,207,1);
  -moz-box-shadow: 0px 0px 5px 0px rgba(207,203,207,1);
  box-shadow: 0px 0px 5px 0px rgba(207,203,207,1);
  position: absolute;
  width: 225px;
  margin: 0;
  padding: 0;
  border: 1px solid #333333;
  z-index: 3;
}