.excel-container{
    width: 35vw;
    height: 35vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}
.excel-input{
    margin: 0 50px;   
}
.excel-input input{
    border:1px solid black;
    margin: 5px 0;
}
.excel-input span{
    font-size: 15px;
    margin: 7px 0;
    font-family: 'Roboto';
    font-weight: bold;
}
.excel-red{
    color: rgb(182, 9, 182);
}
.excel-button{
    background-color: rgb(20, 152, 20);
    color: white;
    border: 1px solid green;
    padding: 7px 15px;
    border-radius: 8px;
    margin: 5px 0;
    font-family: 'Roboto';
}
.excel-button:hover{
    background-color: transparent;
    color: green;
    border: 1px solid green;
    cursor: pointer;
}
.excel-img{
    position: absolute;
    width: 20px;
    height: 20px;
    top: 7px;
    right: 7px;
}
.excel-img:hover{
    cursor: pointer;
}
