@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
.pro-container{
    width: 100vw;
    height: 100vh;
    display: flex;
    position: relative;
    border-radius: 8px;
}
.pro-left{
    background-color: #333333;
    height: 100vh;
    border-radius: 3px;
}
.pro-right{
    background-color: rgb(238, 237, 237);
    padding:10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 7px;
    position: relative;
}
.project-top{
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search{
    margin:7px 30px 7px 0px;
    display: flex;
    align-items: center;
    background-color: rgb(246, 245, 245);
    border-radius: 6px;
}
.search input{
    padding: 10px;
    width: 300px;
    font-size: 15px;
    border: none;
    background-color: rgb(246, 245, 245);
    outline: none;
}
.path{
    color:#333333;
    margin: 0px 10px;
    font-size: 14px;
    font-family: 'Roboto';
    padding: 7px;
    border-radius: 5px;
}
.project-main{
    width: 100%;
    height: 94%;
    background-color: white;
}
.pro-title{
    margin: 5px 8px;
    font-family: 'Roboto';
    font-size: 16px;
    width: fit-content;
    padding: 7px;
    border-radius: 5px;
}
.box-container{
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
    padding: 7px;
    width: 97%;
    margin: 0 10px;
}
.add-box{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    width: 190px;
    height: 160px;
    background-color: rgb(246, 245, 245);
}
.add-box:hover{
    cursor: pointer;
}
.plus{
    padding: 5px;
    font-size: 100px;
    color: #aaa6a6;
}
.box{
    width: 190px;
    height: 160px;
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.color-box:nth-of-type(4n+1){
    background-color: #d5d2f6;
    border-radius: 5px;
}
.color-box:nth-of-type(4n+2){
    background-color: #ffd2d1;
    border-radius: 5px;
}
.color-box:nth-of-type(4n+3){
    background-color:#dcfaeb;
    border-radius: 5px;
}
.color-box:nth-of-type(4n+4){
    background-color:#ffecc8;
    border-radius: 5px;
}
.color-box:nth-of-type(4n+1) .c-name{
    color: #78759e;
}

.color-box:nth-of-type(4n+2) .c-name{
    color: #9c7076;
}

.color-box:nth-of-type(4n+3) .c-name{
    color: #769b8d;
}
.color-box:nth-of-type(4n+4) .c-name{
    color: #a68e66;
}
.box:hover{
    cursor: pointer;
}
.c-name{
    color: #333333;
    font-size: 18px;
    margin:0 30px;
    font-weight: 600;
    font-family: 'Roboto';
}
.boxs{
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
}
.green{
    background-color: rgb(4, 184, 4);
}
.popup{
    position: absolute;
    left: 50%;
    top: 50%;
    -ms-transform: translate(-50%,-50%);
    -moz-transform:translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
.blur{
    filter: blur(1.5px);
}
.box i{
    position: absolute;
    top: 4px;
    right: 4px;
    opacity: 0;
}
.box i:hover{
    opacity: 1;
}
.pagination{
    position: absolute;
    bottom: 5%;
    left: 39%;
}
