@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
.pro-container{
    width: 98vw;
    height: 95vh;
    margin: auto;
    display: flex;
    margin-top: 10px;
    gap: 10px;
    position: relative;
    -webkit-box-shadow: 1px 1px 5px 0px rgba(172,97,247,1);
    -moz-box-shadow: 1px 1px 5px 0px rgba(172,97,247,1);
    box-shadow: 1px 1px 5px 0px rgba(172,97,247,1);
    border-radius: 8px;
}
.pro-left{
    background-color: rgb(172, 97, 247);
    height: 95vh;
    border-radius: 9px;
}
.pro-right{
    background-color: white;
}
.path{
    color:rgb(172, 97, 247);
    margin: 15px 10px;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}
.pro-title{
    color: gray;
    margin: 15px 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}
.box-container{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}
.add-box{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    width: 180px;
    height: 150px;
    background-color: rgb(213, 211, 211);
}
.add-box:hover{
    cursor: pointer;
}
.plus{
    padding: 5px;
    font-size: 100px;
    color: rgb(172, 97, 247);
}
.box{
    width: 180px;
    height: 150px;
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:rgb(172, 97, 247);
    position: relative;
}
.box:hover{
    cursor: pointer;
}
.c-name{
    color: white;
    font-size: 17px;
    margin:0 30px;
    font-family: 'Roboto', sans-serif;
}
.boxs{
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
}
.green{
    background-color: rgb(4, 184, 4);
}
.popup{
    position: absolute;
    top: 10%;
    left: 30%;
}
.blur{
    filter: blur(1.5px);
}
.box i{
    position: absolute;
    top: 4px;
    right: 4px;
    opacity: 0;
}
.box i:hover{
    opacity: 1;
}
