.filter-container{
    position: relative;
    display: inline;
    z-index: 1000;
}
.triangle_down {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #333333;
    font-size: 0;
    line-height: 0;
    float: left;
    margin-top:2px;
}
.filter-type{
    font-family: 'Inter';
    font-weight: 600;
    font-size: 13px;
}
.filter-box{
    display: flex;
    width: fit-content;
    align-items: center;
    gap:10px;
    border: 0.1px solid #656464;
    padding: 7px 10px;
    border-radius: 4px;
    cursor: pointer;
}
.filter-box:hover{
   background-color: #ebe9e9;
}
.filter-table{
    background-color: white;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(207,203,207,1);
    -moz-box-shadow: 0px 0px 5px 0px rgba(207,203,207,1);
    box-shadow: 0px 0px 5px 0px rgba(207,203,207,1);
    position: absolute;
    top: 120%;
    border-radius: 5px;
    z-index: 3;
    overflow-y: auto;
    }
.filter-search{
    display: flex;
    align-items: center;
    padding: 10px 7px;
    display: flex;
    gap: 7px;
    border-bottom:1px solid #333333;
    position: sticky;
    top: 0;
    background-color: white;
    }
.filter-search input{
    width: 98%;
    border: none;
    height: 25px;
    outline: none;
}
.filter-search input::placeholder{
    color: #333333;
    font-size: 13px;
    font-family: 'Inter';
    font-weight: 600;
}
.Fi{
    padding: 10px;
    cursor: pointer;
    font-family: 'Inter';
    font-size: 13px;
    font-weight: 600;
    color: rgb(128, 128, 128);
    border-bottom:1px solid rgb(214 213 213);
}
.Fi:hover{
   background-color: rgb(226, 225, 225);
}
.filter-box1{
    display: flex;
    width: fit-content;
    gap:15px;
    padding: 3px 7px;
    border-radius: 4px;
    align-items: center;
    justify-content: center;
    background-color: #c2e7ff;
    border: none;
}
.x{
    font-size: 23px;
    font-weight: 600;
    cursor: pointer;
}
.w{
    font-size: 15px;
    font-weight: 600;
}
.filter-name{
    font-size: 14px;
    font-family: 'Inter';
    font-weight: 600;
}
.wrapper-box{
    display: flex;
    align-items: center;
    gap: 3px;
    border: 1px solid #333333;
    border-radius: 4px;
    max-width: 400px;
    overflow-x: scroll;
}
.wrapper-box::-webkit-scrollbar{
    display: none;
}
.tag-filter-box{
    display: flex;
    align-items: center;
    width: fit-content;
    justify-content: center;
    gap:5px;
    padding: 0 5px;
    background-color: #c2e7ff;
}
.Wrapper{
    min-width: 80px;
    display: flex;
    width: fit-content;
    height: fit-content;
}
.Wrapper span{
    padding: 3px;
    flex: 4;
    font-size: 13px;
    font-family: 'Inter';
    font-weight: 600;
    text-align: center;
    height: fit-content;
}
.Wrapper input{
    cursor: pointer;
}
.Wrapper:nth-child(3n+1) span{
    background-color: #d5d2f6;
    color: #78759e;
}
.Wrapper:nth-child(3n+2) span{
    background-color: #ffd2d1;
    color: #9c7076;
}
.Wrapper:nth-child(3n+3) span{
    background-color:#dcfaeb;
    color: #769b8d;
}