.table{
    height: 310px;
    overflow-y: auto;
    background-color: rgb(224, 224, 224);
}
.table::-webkit-scrollbar{
    display: none;
  }
.tb{
    color: white;
    border-radius: 10px;
    table-layout: fixed;
    width: 100%;
}
.tr:nth-child(1){
    position: sticky;
    top:0;
    background-color: rgb(172, 97, 247);
    color: white;
}
.th{
    padding: 10px 35px;
    font-size: 15px;  
    font-family: 'Roboto', sans-serif; 
}
.th:nth-child(1){
    border-radius: 10px 0 0 0px;
}
.th:nth-child(9){
    border-radius: 0 10px 0 0;
}
.svg{
    width: 17px;
    height: 17px;
    margin: 0 3px;
}
.td{
    color: black;
    padding: 10px 2px;
    overflow-wrap: break-word;
    text-align: center;
    overflow-wrap: break-word;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    margin: auto;
}
.td span{
    background-color: white;
    width: 120px;
    display: block;
    padding: 5px 10px;
    border-radius: 7px;
}
.td input,.td select{
    width: 135px;
    height: 25px;
    outline: none;
    border: 1px solid rgb(172, 97, 247);
    border-radius: 6px;
}
.btn-disabled{
    background-color: transparent;
    padding: 0;
    margin: 0;
    border: none;
    cursor: pointer;
}
.btn-disabled:disabled{
    cursor: not-allowed;
}
