* {
  font-family: "Inter";
}
body {
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
  box-sizing: border-box;
}
.flexbox {
  display: flex;
}
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
}
.loader {
  padding: 7px;
  border-radius: 50%;
  background-color: #f9f9f9;
  position: absolute;
  top: 40px;
  z-index: 20;
  left: 50%;
  box-shadow: 0px 4px 10px #00000040;
}
.loader svg {
  font-size: 20px;
  animation: rotate 1s linear infinite;
  opacity: 0.5;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
