.client-main-container{
    width: 98vw;
    height: 97vh;
    margin: auto;
    display: flex;
    margin-top: 10px;
    gap: 10px;
    border-radius: 8px;
}
.client-left{
    background-color: #333333;
    height: 97vh;
    border-radius: 9px;
}
.client-right{
    position: relative;
}
.client-path{
    color:#333333;
    margin: 15px 10px;
    font-family: 'Roboto';
    font-size: 14px;
}
.client-title{
    color: gray;
    margin: 15px 10px;
    font-family: 'Roboto';
    font-size: 16px;
}
.clientpopup{
    position:fixed;
    left: 50%;
    top: 50%;
    -ms-transform: translate(-50%,-50%);
    -moz-transform:translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
     transform: translate(-50%,-50%);
}