.client-main-container{
    width: 100vw;
    height: 100vh;
    display: flex;
}
.client-right{
    position: relative;
    background-color: rgb(238, 237, 237);
    width: 100%;
    height: 100%;
    display: flex;
    gap:10px;
    flex-direction: column;
}
.client-top{
    width: 100%;
    height: 52px;
    display: flex;
    align-items: center;
    background-color: white;
}
.client-path{
    color:#2e4a93;
    margin: 0 10px;
    font-family: 'Inter';
    font-size: 15px;
    font-weight: 400;
    padding: 7px;
}
.client-main{
    background-color: white;
    padding: 15px;
    margin: 0 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    height: 100%;
}
.client-title{
    margin: 0;
    font-family: 'Inter';
    font-weight: 600;
    font-size: 15px;
}
.clientpopup{
    position:fixed;
    left: 50%;
    top: 50%;
    -ms-transform: translate(-50%,-50%);
    -moz-transform:translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
     transform: translate(-50%,-50%);
}