.forget-container{
    width: 430px;
    padding: 50px 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    position:fixed;
    left: 50%;
    top: 50%;
    -ms-transform: translate(-50%,-50%);
    -moz-transform:translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: #fdfdfd;
    box-shadow: 0px 4px 10px #00000040;
}
.forget-title{
    font-family: 'Inter';
    font-size: 18px;
    font-weight: 600;
    color: #2e4a93;
    margin: 0;
}
.forget-email{
    width: 290px;
    padding:15px 10px;
    border: 1px solid #2e4a93;
    border-radius: 5px;
}
.forget-email::placeholder{
    font-family: 'Inter';
    font-weight: 400;
}
.forget-buttons{
    display: flex;
    gap: 5px;
    width: 307px;
}
.forget-btn{
    width: 100%;
    color: white;
    background-color: #2e4a93;
    font-family: 'Inter';
    font-size: 15px;
    font-weight: 400;
    border: 1px solid #2e4a93;
    padding: 10px 0;
    cursor: pointer;
}
.text-container{
    width: 32%;
    position:fixed;
    left: 50%;
    top: 50%;
    -ms-transform: translate(-50%,-50%);
    -moz-transform:translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    font-family: 'Inter';
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #fdfdfd;
    box-shadow: 0px 4px 10px #00000040;
    padding: 40px;
    border-radius: 10px;
    gap: 10px;
}
.text-container h3{
    margin: 0;
    color: #2e4a93;
    font-size: 18px;
    font-weight: 600;
}
.text-container span{
    font-size: 15px;
    font-weight: 400;
}
.text-container span a{
    text-decoration: none;
    color: inherit;
}
.loading{
  font-size: 50px; 
}
.box{
    position:fixed;
    left: 50%;
    top: 50%;
    -ms-transform: translate(-50%,-50%);
    -moz-transform:translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    width: 450px;
    border-radius: 10px;
    height: 250px;
    opacity: 0.2;
    background-color: rgb(156, 155, 155);
    display: flex;
    align-items: center;
    justify-content: center;
}