.single-container{
    width: 100vw;
    height: 100vh;
    display: flex;
    border-radius: 6px;
}
.single-left{
    background-color: #333333;
    height: 100vh;
    border-radius: 3px;
}
.single-right{
    position: relative;
    background-color: rgb(238, 237, 237);
    padding:7px;
    display: flex;
    flex-direction: column;
    gap: 7px;
}
.contract-top{
    width: 100%;
    background-color: white;
}
.contract-title{
    margin: 0px 8px 10px;
    font-family: 'Roboto';
    font-size: 16px;
    width: fit-content;
    padding: 7px;
    border-radius: 5px;
}
.contract-middle{
    background-color: white;
    padding: 0 0 10px 0;
}
.detail-box{
    position: relative;
    background-color: rgb(247 247 247);
    margin: 10px 15px;
    width:40%;
    height: 90px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.entity{
    margin: 5px 40px;
}
.entity span{
    margin: 3px;
}
.entity span:nth-child(1){
    font-weight: 700;
    font-size: 15px;
    color: black;
    font-family: 'Roboto';
}
.entity span:nth-child(3){
    font-size: 15px;
    font-family: 'Roboto';
}
.edit-btn{
    position: absolute;
    background-color: white;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 7px;
    right: 10px;
}
.edit-btn:hover{
    cursor: pointer;
    background-color: rgb(241, 239, 239);
}
.edit-img{
  width: 20px;
  height: 20px;
}
.goto{
    margin: 10px 15px;
    width: fit-content;
}
.goto button{
    padding: 10px 25px;
    background-color: #5b69e9;
    border: none;
    font-weight: 600;
    border-radius: 5px;
    display: flex;
    align-items: center;
    color: white;
    font-family: 'Roboto';
}
.goto button:hover{
    cursor: pointer;
}
.contract-footer{
    background-color: white;
    height:65.5%;
}
.table-container{
    margin: 0px 15px;   
}
.table-title{
    font-family: 'Roboto';
    font-size: 16px;
}
.single-page-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.excel-btn{
   margin: 10px 15px;
   padding: 10px 15px;
   font-size: 14px;
   border: none;
   background-color: #5b69e9;
   color: white;
   border-radius: 5px;
   font-family: 'Roboto';
   font-weight: 600;
   cursor: pointer;
}
.excel-popup{
    background-color: white;
    border: 1px solid rgb(223, 221, 221);
    border-radius: 5px;
    position:fixed;
    left: 50%;
    top: 50%;
    -ms-transform: translate(-50%,-50%);
    -moz-transform:translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    -webkit-box-shadow: 0px 0px 5px 0px rgba(51,51,51,1);
    -moz-box-shadow: 0px 0px 5px 0px rgba(51,51,51,1);
    box-shadow: 0px 0px 5px 0px rgba(51,51,51,1);
}
.project-title{
    color: black;
    margin: 17px 10px;
}